{% extends "pages/base.html" %}
{% block title %} Home {% endblock %}
{% load static %}
{% block content %}
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <br>
    
    <div class="d-flex align-items-center justify-content-center">
        <p> Dictionary application for students!</p>
        <br>
   </div>
   <br>
   <img src="{% static 'images/dictionary.png' %}" class="rounded mx-auto d-block">
  
{% endblock %}
 