
{% block content %}
       
         
   

    

    <table class="table table-hover">
        
      <tr>
          <th>ID</th>
          <th>Turkish</th>
          <th>English</th>
          <th>Update</th>
          <th>Delete</th>
      </tr>
      
      {% for word in wordList %}
          <tr>
              <td>{{ word.pk }}</td>
              <td>{{ word.word_en }}</td>
              <td>{{ word.translation_tr }}</td>
             
              <td><a href="{% url 'word_update' word.id %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a></td>
              
          </tr>
    
      {% endfor %}
  </table>



    {% endblock %}